div
  .row
    .col-md-8.col-md-offset-2
      h1(data-translate='activate.title') Activation
      .alert.alert-success(ng-show='vm.success', data-translate='activate.messages.success', translate-compile='')
        strong Your user has been activated.
        |  Please 
        a.alert-link(href='', ng-click='vm.login()') sign in
        | .
      .alert.alert-danger(ng-show='vm.error', data-translate='activate.messages.error')
        strong Your user could not be activated.
        |  Please use the registration form to sign up.
