nav.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', ng-click='vm.toggleNavbar()')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo(href='#/', ng-click='vm.collapseNavbar()')
        img.logo-img(src='content/images/logo-jhipster.png', alt='logo')
        span(data-translate='global.title') BackendNinja_jHipster
        span.navbar-version v{{VERSION}}
    .navbar-collapse(uib-collapse='vm.isNavbarCollapsed', ng-switch='vm.isAuthenticated()')
      ul.nav.navbar-nav.navbar-right
        li(ui-sref-active='active')
          a(ui-sref='home', ng-click='vm.collapseNavbar()')
            span.glyphicon.glyphicon-home
            span.hidden-sm(data-translate='global.menu.home') Home
        // jhipster-needle-add-element-to-menu - JHipster will add new menu items here
        li.dropdown.pointer(ng-class="{active: vm.$state.includes('entity')}", ng-switch-when='true', uib-dropdown='')
          a#entity-menu.dropdown-toggle(uib-dropdown-toggle='', href='')
            span
              span.glyphicon.glyphicon-th-list
              span.hidden-sm(data-translate='global.menu.entities.main')
                | Entities
              b.caret
          ul.dropdown-menu(uib-dropdown-menu='')
            // jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here
        li.dropdown.pointer(ng-class="{active: vm.$state.includes('account')}", uib-dropdown='')
          a#account-menu.dropdown-toggle(uib-dropdown-toggle='', href='')
            span
              span.glyphicon.glyphicon-user
              span.hidden-sm(data-translate='global.menu.account.main')
                | Account
              b.caret
          ul.dropdown-menu(uib-dropdown-menu='')
            li(ui-sref-active='active', ng-switch-when='true')
              a(ui-sref='settings', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-wrench
                span(data-translate='global.menu.account.settings') Settings
            li(ui-sref-active='active', ng-switch-when='true')
              a(ui-sref='password', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-lock
                span(data-translate='global.menu.account.password') Password
            li(ui-sref-active='active', ng-switch-when='true')
              a#logout(href='', ng-click='vm.logout()')
                span.glyphicon.glyphicon-log-out
                span(data-translate='global.menu.account.logout') Sign out
            li(ui-sref-active='active', ng-switch-when='false')
              a#login(href='', ng-click='vm.login()')
                span.glyphicon.glyphicon-log-in
                span(data-translate='global.menu.account.login') Sign in
            li(ui-sref-active='active', ng-switch-when='false')
              a(ui-sref='register', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-plus-sign
                span(data-translate='global.menu.account.register') Register
        li.dropdown.pointer(ng-class="{active: vm.$state.includes('admin')}", ng-switch-when='true', has-authority='ROLE_ADMIN', uib-dropdown='')
          a#admin-menu.dropdown-toggle(uib-dropdown-toggle='', href='')
            span
              span.glyphicon.glyphicon-tower
              span.hidden-sm(data-translate='global.menu.admin.main') Administration
              b.caret
          ul.dropdown-menu(uib-dropdown-menu='')
            li(ui-sref-active='active')
              a(ui-sref='user-management', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-user
                span(data-translate='global.menu.admin.userManagement') User management
            li(ui-sref-active='active')
              a(ui-sref='jhi-metrics', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-dashboard
                span(data-translate='global.menu.admin.metrics') Metrics
            li(ui-sref-active='active')
              a(ui-sref='jhi-health', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-heart
                span(data-translate='global.menu.admin.health') Health
            li(ui-sref-active='active')
              a(ui-sref='jhi-configuration', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-list-alt
                span(data-translate='global.menu.admin.configuration') Configuration
            li(ui-sref-active='active')
              a(ui-sref='audits', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-bell
                span(data-translate='global.menu.admin.audits') Audits
            li(ui-sref-active='active')
              a(ui-sref='logs', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-tasks
                span(data-translate='global.menu.admin.logs') Logs
            li(ng-show='vm.swaggerEnabled', ui-sref-active='active')
              a(ui-sref='docs', ng-click='vm.collapseNavbar()')
                span.glyphicon.glyphicon-book
                span(data-translate='global.menu.admin.apidocs') API
            // jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here
        li.dropdown.pointer(ui-sref-active='active', uib-dropdown='', ng-controller='JhiLanguageController as languageVm')
          a.dropdown-toggle(uib-dropdown-toggle='', href='', ng-if='languageVm.languages.length > 1')
            span
              span.glyphicon.glyphicon-flag
              span.hidden-sm(data-translate='global.menu.language') Language
              b.caret
          ul.dropdown-menu(uib-dropdown-menu='', ng-if='languageVm.languages.length > 1')
            li(active-menu='{{language}}', ng-repeat='language in languageVm.languages')
              a(href='', ng-click='languageVm.changeLanguage(language);vm.collapseNavbar();') {{language | findLanguageFromKey}}
