.table-responsive
  h2(data-translate='logs.title') Logs
  p(data-translate='logs.nbloggers', translate-values="{total: '{{ vm.loggers.length }}'}") There are {{ vm.loggers.length }} loggers.
  span(data-translate='logs.filter') Filter
  input.form-control(type='text', ng-model='filter')
  table.table.table-condensed.table-striped.table-bordered
    thead
      tr(title='click to order')
        th(ng-click="predicate = 'name'; reverse=!reverse")
          span(data-translate='logs.table.name') Name
        th(ng-click="predicate = 'level'; reverse=!reverse")
          span(data-translate='logs.table.level') Level
    tr(ng-repeat='logger in vm.loggers | filter:filter | orderBy:predicate:reverse')
      td
        small {{logger.name | characters:140}}
      td
        button.btn.btn-default.btn-xs(ng-click="vm.changeLevel(logger.name, 'TRACE')", ng-class="(logger.level=='TRACE') ? 'btn-danger' : 'btn-default'") TRACE
        button.btn.btn-default.btn-xs(ng-click="vm.changeLevel(logger.name, 'DEBUG')", ng-class="(logger.level=='DEBUG') ? 'btn-warning' : 'btn-default'") DEBUG
        button.btn.btn-default.btn-xs(ng-click="vm.changeLevel(logger.name, 'INFO')", ng-class="(logger.level=='INFO') ? 'btn-info' : 'btn-default'") INFO
        button.btn.btn-default.btn-xs(ng-click="vm.changeLevel(logger.name, 'WARN')", ng-class="(logger.level=='WARN') ? 'btn-success' : 'btn-default'") WARN
        button.btn.btn-default.btn-xs(ng-click="vm.changeLevel(logger.name, 'ERROR')", ng-class="(logger.level=='ERROR') ? 'btn-primary' : 'btn-default'") ERROR
