div(ng-cloak='')
  .row
    .col-md-4
      span.hipster.img-responsive.img-rounded
    .col-md-8
      h1(data-translate='error.title') Error Page!
      div(ng-show='errorMessage')
        .alert.alert-danger
          | {{errorMessage}}
